@page
@model DisplayDataTableModel
@using ConroeISDInterview.Models
@{

}
 
<!DOCTYPE html>
 
<html>
<body>
    <div class="text-center">
        <p>@Model.Message</p>
    <form id="Form1" method="post" runat="server">

        <table>
            <tr>
                <th>
                    @Html.ActionLink("Employee ID", "DisplayDataTable", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Payroll Error
                </th>
            </tr>
            <tbody>
            @foreach(PayrollRecord pr in @Model.formatted){
                <tr>
                    <td>@pr.EmployeeID</td>
                    <td>@pr.FirstName</td>
                    <td>@pr.LastName</td>
                    <td>@pr.PayrollError</td>
                </tr>
            }
            </tbody>
        </table>

    </form>
    <p>@Model.Message</p>
    </div>
</body>
</html>

